@using System.Threading
@using System.Resources

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/Panel/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/Content/Panel/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Content/Panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/Content/Panel/plugins/jqvmap/jqvmap.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/Panel/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/Panel/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/Panel/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/Panel/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/Content/Panel/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/Panel/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/Content/Panel/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/Panel/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/Content/Panel/plugins/summernote/summernote-bs4.min.css">
    <!--Stylish Alert Start-->
    <link href="/Content/StylishAlert/iao-alert.css" rel="stylesheet" />
    <!--Bootstrap SWEET-ALERT-->
    <link href="/Content/BootstrapSweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="/Content/BootstrapSweetAlert/sweetalert.js"></script>
    <!-- jQuery -->
    <script src="/Content/Panel/plugins/jquery/jquery.min.js"></script>

    <style>
        .ui-datepicker {
            z-index: 9999 !important;
        }

        .requiredFieldClass {
            color: red;
        }

        .errorsClass {
            color: red;
        }

        .page-item.active .page-link {
            background-color: #13334a;
            border-color: #13334a;
        }

        .page-link {
            color: #13334a;
        }

        .btn-primary {
            background-color: #13334a;
            border-color: #13334a;
        }

            .btn-primary:hover {
                background-color: #13334a;
                border-color: #13334a;
            }

            .btn-primary:focus {
                background-color: #13334a;
                border-color: #13334a;
            }

        .card-primary:not(.card-outline) > .card-header {
            background-color: #13334a;
        }

        a {
            color: #13334a;
        }

            a:hover {
                color: #13334a;
            }

        .btn-primary:not(:disabled):not(.disabled):active {
            background-color: #13334a;
            border-color: #13334a;
        }

        table.table-bordered.dataTable th {
            text-align: center;
            background-color: #13334a;
            color: #fff;
        }

        table.table-bordered th {
            text-align: center;
            background-color: #13334a;
            color: #fff;
        }

        .TableHeading {
            color: black !important;
        }

        table.table-bordered.dataTable tbody td {
            text-align: center;
            vertical-align: middle;
        }

        table.table-bordered tbody td {
            text-align: center;
            vertical-align: middle;
        }

        .isEmailField {
            text-transform: lowercase;
        }

        .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
            background-color: #13334a;
        }

        .table thead th {
            text-align: center;
        }

        .table td {
            text-align: center;
        }

        .btn-secondary {
            color: #fff;
            background-color: #13334a;
            border-color: #13334a;
        }

            .btn-secondary:hover {
                color: #fff;
                background-color: #d91c1c;
                border-color: #d91c1c;
            }

            .btn-secondary:not(:disabled):not(.disabled):active {
                color: #fff;
                background-color: #d91c1c;
                border-color: #d91c1c;
            }

        .main-sidebar {
            background: #13334a !important;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div>

    </div>

    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img src="/Content/Images/loadingImg.gif" alt="AdminLTELogo" height="100" width="100">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            @*<form id="languageForm" action="/Home/ChangeLanguage" method="post" style="position: absolute; top: 16px; right: 60px; z-index: 9999;">
                <label>Select Language <span class="requiredFieldClass">*</span></label>
                <select name="language" onchange="document.getElementById('languageForm').submit();" class="form-select">
                    <option value="en" @(Session["CurrentCulture"] as string == "en" ? "selected" : "")>@HttpContext.GetGlobalResourceObject("Resource", "Language_English")</option>
                    <option value="pt" @(Session["CurrentCulture"] as string == "pt" ? "selected" : "")>@HttpContext.GetGlobalResourceObject("Resource", "Language_Portuguese")</option>
                </select>
            </form>*@

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark- elevation-4">
            <!-- Brand Logo -->
            <a href="javascript:;" class="brand-link" style="text-align: center; cursor: text;">
                @*<img src="/Content/Panel/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">*@
                <span class="brand-text font-weight-light">@HttpContext.GetGlobalResourceObject("Resource", "Title")</span>


            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img id="img_SuperAdmin_SuperAdminLayout" src="" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a id="a_SuperAdmin_SuperAdminLayout" href="/SuperAdmin/ManageProfile" class="d-block" style="cursor:pointer;" onclick="GetProfileData()"></a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a id="a_ManageDashboard_SASidebar" href="/Admin/Index" class="nav-link commonNavLinkClass">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    @HttpContext.GetGlobalResourceObject("Resource", "Dashboard")
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="a_ManageSuperAdmin_MSSidebar" href="/SuperAdmin/ManageSchool" class="nav-link commonNavLinkClass">
                                <i class="nav-icon fas fa-school"></i>
                                <p>
                                    @HttpContext.GetGlobalResourceObject("Resource", "ManageSchools")
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a id="a_ChangePassword_Sidebar" href="/ChangePassword" class="nav-link commonNavLinkClass">
                                <i class="nav-icon fas fa-lock fa-fw"></i>
                                <p>
                                    @HttpContext.GetGlobalResourceObject("Resource", "ChangePassword")
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:;" class="nav-link" onclick="LogoutUser();">
                                <i class="nav-icon fas fa-power-off"></i>
                                <p>
                                    @HttpContext.GetGlobalResourceObject("Resource", "Logout")
                                </p>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2025 <a href="https://www.protolabzit.com" target="_blank">Protolabz E-Services</a>.</strong>
            All rights reserved.
            @*<div class="float-right d-none d-sm-inline-block">
                    <b>Version</b> 3.1.0
                </div>*@
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery UI 1.11.4 -->
    <script src="/Content/Panel/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="/Content/Panel/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="/Content/Panel/plugins/select2/js/select2.full.min.js"></script>
    <!-- ChartJS -->
    <script src="/Content/Panel/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/Content/Panel/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/Content/Panel/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/Content/Panel/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Content/Panel/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/Content/Panel/plugins/moment/moment.min.js"></script>
    <script src="/Content/Panel/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Content/Panel/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/Content/Panel/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Content/Panel/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- bs-custom-file-input -->
    @*<script src="/Content/Panel/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>*@
    <!-- DataTables  & Plugins -->
    <script src="/Content/Panel/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Content/Panel/plugins/jszip/jszip.min.js"></script>
    <script src="/Content/Panel/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Content/Panel/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Content/Panel/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Content/Panel/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/Panel/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/Panel/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/Content/Panel/dist/js/pages/dashboard.js"></script>
    <script src="/Content/StylishAlert/iao-alert.jquery.js"></script>
    <script src="/ScriptFiles/Loader.js"></script>
    <script src="/ScriptFiles/CommonLogin.js"></script>
    <script src="/ScriptFiles/CustomSwal.js"></script>
    <!--Restrict to enter White-Space at the first-Position of Input-Field -->
    <script>
        $(".AvoidSpaceAtFirst").on("keypress", function (e) {
            if (e.which === 32 && !this.value.length)
                e.preventDefault();
        });
    </script>

    <!--Restrict to enter White-Space in Input-Field -->
    <script>
        //--Restrict the Textbox to enter WhiteSpace
        $(".AvoidSpace").on("keypress", function (event) {
            var k = event ? event.which : window.event.keyCode;
            if (k == 32) return false;
        });
    </script>

    <!--Restrict to enter only Numeric Values in Input-Field -->
    <script>
        //--Restrict the Textbox to enter only Numeric Values
        $(".IsNumeric").on("keypress", function (evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            else {
                return true;
            }

        });
    </script>
    <script>
        //--Restrict the Textbox to enter only Decimal Values
        $(".IsDecimal").keydown(function (event) {


            //if (event.shiftKey == true) {
            //    event.preventDefault();
            //}

            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode == 110) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && (event.keyCode == 190 || event.keyCode == 110))
                event.preventDefault();

        });
    </script>
</body>
</html>
