
@{
    ViewBag.Title = "Manage Session";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/Panel/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@HttpContext.GetGlobalResourceObject("Resource", "MS_ManageAcademicSession")</h1>
            </div>
            <div class="col-sm-6" style="text-align:right;">
                <button id="btnAddNewSession" type="button" class="btn btn-primary" onclick="AddNewSession_ShowForm();"><i class="fa fa-plus" aria-hidden="true" style="margin-right:5px;"></i>@HttpContext.GetGlobalResourceObject("Resource", "MS_AddNewSession")</button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div id="dv_AddUpdateSessionForm" class="row" style="display:none;">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 id="Title_SessionForm_ManageSession" class="card-title">@*Add New Session*@</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SessionName")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control" id="txtSessionName_ManageSession" disabled>
                                        <span id="sessionName_error_ManageSession" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SelectClass")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlSelectClass_ManageSession" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" onchange="SessionNameChange();">
                                        </select>
                                        <span id="SelectClass_error_ManageSession" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_StartYear")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlStartYear_ManageSession" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" onchange="StartYearChange();" placeholder="Select @HttpContext.GetGlobalResourceObject("Resource", "MS_StartYear")"></select>
                                        <span id="startYear_error_ManageSession" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_EndYear")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlEndYear_ManageSession" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" placeholder="Select @HttpContext.GetGlobalResourceObject("Resource", "MS_EndYear")" disabled onchange="SessionNameChange();"></select>
                                        <span id="endYear_error_ManageSession" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkIsActive_ManageSession" checked hidden>
                                        <label class="form-check-label" for="chkIsActive_ManageSession" style="cursor:pointer;" hidden>@HttpContext.GetGlobalResourceObject("Resource", "SA_IsActive")</label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer">
                            <button id="btnSubmitManageSession" type="button" class="btn btn-primary" onclick="AddUpdateSession(1);">@HttpContext.GetGlobalResourceObject("Resource", "SA_Submit")</button>
                            <button id="btnUpdateManageSession" type="button" class="btn btn-primary" onclick="AddUpdateSession(2);" style="display:none;">@HttpContext.GetGlobalResourceObject("Resource", "SA_Update")</button>
                            <button type="button" class="btn btn-default" onclick="CancelForm();">@HttpContext.GetGlobalResourceObject("Resource", "SA_Cancel")</button>
                       </div>
                    </form>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
    </div>
    <div id="dv_SessionListBox" class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@HttpContext.GetGlobalResourceObject("Resource", "MS_SessionsList")</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        @Html.Partial("_ClassSessionFilter", "SessionFilter")
                        <div class="col-md-3">

                        </div>
                    </div>
                    <table id="tblSessions_ManageSession" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Sno")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_ClassName")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Session")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Status")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolEdit")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolDelete")</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Sno")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_ClassName")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Session")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Status")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolEdit")</th>
                                <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolDelete")</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="/ScriptFiles/ManageSession.js"></script>
<script src="~/ScriptFiles/ClassSessionFilter.js"></script>

<script>
    $(function () {
        $("#tblEnquiries_ManageSession").DataTable();
        document.getElementById("ddlSession_Filter").onchange = function () { GetSessionsList(); };

        //Initialize Select2 Elements
        $('.select2').select2();
    });
</script>
<script>
    window.localizedLabels = {
        sessionTitle: '@HttpContext.GetGlobalResourceObject("Resource", "MS_AddNewSession")',
        active: '@HttpContext.GetGlobalResourceObject("Resource", "MS_Active")',
        inactive: '@HttpContext.GetGlobalResourceObject("Resource", "MS_InActive")',
    };
</script>