
@{
    ViewBag.Title = "ManageStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    @HttpContext.GetGlobalResourceObject("Resource", "ManageStudent")
                </h1>
            </div>
            <div class="col-sm-6" style="text-align:right;">
                <button id="btnAddNewStudent" type="button" class="btn btn-primary" onclick="AddNewStudent_ShowForm();"><i class="fa fa-plus" aria-hidden="true" style="margin-right:5px;"></i>@HttpContext.GetGlobalResourceObject("Resource", "MS_AddNewStudent")</button>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<link href="~/Content/Panel/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div id="dv_AddUpdateStudentForm" class="row" style="display:none;">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 id="Title_StudentForm_ManageStudent" class="card-title">@*Add New Course*@</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_FirstName")<span class="requiredFieldClass">*</span></label>
                                                <input type="text" class="form-control AvoidSpaceAtFirst " id="txtFirstName_ManageStudent" placeholder="Enter Student @HttpContext.GetGlobalResourceObject("Resource", "SA_FirstName")">
                                                <span id="firstName_error_ManageStudent" class="errorsClass"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_LastName")<span class="requiredFieldClass">*</span></label>
                                                <input type="text" class="form-control AvoidSpaceAtFirst " id="txtLastName_ManageStudent" placeholder="Enter Student @HttpContext.GetGlobalResourceObject("Resource", "SA_LastName")">
                                                <span id="lastName_error_ManageStudent" class="errorsClass"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_DOB")<span class="requiredFieldClass">*</span></label>
                                        <div class="form-check float-right">
                                            <input type="checkbox" class="form-check-input" id="chkIsExist_ManageStudent" onchange="IsExistingChange()">
                                            <label class="form-check-label" for="chkIsExist_ManageStudent" style="cursor:pointer;"><b>@HttpContext.GetGlobalResourceObject("Resource", "SA_IsExists")</b></label>
                                        </div>
                                        <input type="text" class="form-control isDatePicker" id="txtDOB_ManageStudent" placeholder="Select @HttpContext.GetGlobalResourceObject("Resource", "SA_DOB")" style="cursor:pointer;" readonly>
                                        <span id="DOB_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_FatherName")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control AvoidSpaceAtFirst " id="txtFatherName_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_FatherName")">
                                        <span id="FatherName_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_MotherName")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control AvoidSpaceAtFirst " id="txtMotherName_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_MotherName")">
                                        <span id="MotherName_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SelectGender")<span class="requiredFieldClass">*</span></label>
                                                <select id="ddlGender_ManageStudent" class="form-control select2 select2-danger " data-dropdown-css-class="select2-danger" style="width: 100%;" placeholder="Select Gender">
                                                </select>
                                                <span id="Gender_error_ManageStudent" class="errorsClass"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SBG")<span class="requiredFieldClass"></span></label>
                                                <select id="ddlBlood_ManageStudent" class="form-control select2 select2-danger " data-dropdown-css-class="select2-danger" style="width: 100%;" placeholder="@HttpContext.GetGlobalResourceObject("Resource", "MS_SBG")">
                                                </select>
                                                <span id="Blood_error_ManageStudent" class="errorsClass"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_UserName")</label>
                                                <input type="text" class="form-control AvoidSpace" id="txtUserName_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "MS_UserName")">
                                                <span id="UserName_error_ManageStudent" class="errorsClass"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Password")</label>
                                                <input type="text" class="form-control" id="txtPassword_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Password")">
                                                <span id="password_error_ManageStudent" class="errorsClass"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Email")</label>
                                        <input type="text" class="form-control isEmailField AvoidSpace" id="txtEmail_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Email")">
                                        <span id="email_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Mobile")<span class="requiredFieldClass">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">+91</span>
                                            </div>
                                            <input type="text" class="form-control IsNumeric" id="txtMobile_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Mobile")" maxlength="10">
                                        </div>
                                        <span id="mobile_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Pincode")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control IsNumeric" id="txtPincode_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Pincode")" maxlength="8">
                                        <span id="pincode_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Address")<span class="requiredFieldClass">*</span></label>
                                        <textarea class="form-control" id="txtAddress_ManageStudent" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Address")" rows="3"></textarea>
                                        <span id="address_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SelectClass")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlSelectClass_ManageStudent" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" onchange="SessionBindByClass4Student()">
                                        </select>
                                        <span id="SelectClass_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SelectSession")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlSession_ManageStudent" class="form-control select2 select2-danger" data-dropdown-css-class="select2-danger" style="width: 100%;" onchange="SectionBindBySession4Student()">
                                        </select>
                                        <span id="Session_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_SCS")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlSection_ManageStudent" class="form-control select2 select2-danger " data-dropdown-css-class="select2-danger" style="width: 100%;">
                                        </select>
                                        <span id="Section_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                                @*-----For Dynamic FeeType show --------------------------------------*@
                                @*<div class="col-md-6 m-auto">
                                        <div class="row" id="StudentFeeTypeRow"></div>
                                    </div>*@
                                @* ----------------------------------------------------------------- *@
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <input type="checkbox" id="chkTransport_ManageStudent" onchange="IsTransportStudent()" />
                                        <label for="chkTransport_ManageStudent" style="cursor:pointer;"><b>@HttpContext.GetGlobalResourceObject("Resource", "MS_Transport")</b></label>
                                        <input type="text" class="form-control IsNumeric" id="txtTransport_ManageStudent" maxlength="8" style="display:none">
                                        <span id="Transport_error_ManageStudent" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkIsActive_ManageStudent" checked>
                                        <label class="form-check-label" for="chkIsActive_ManageStudent" style="cursor:pointer;">@HttpContext.GetGlobalResourceObject("Resource", "SA_IsActive")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button id="btnSubmitManageStudent" type="button" class="btn btn-primary" onclick="AddUpdateStudent(1);">@HttpContext.GetGlobalResourceObject("Resource", "SA_Submit")</button>
                            <button id="btnUpdateManageStudent" type="button" class="btn btn-primary" onclick="AddUpdateStudent(2);" style="display:none;">@HttpContext.GetGlobalResourceObject("Resource", "SA_Update")</button>
                            <button type="button" class="btn btn-default" onclick="CancelForm();">@HttpContext.GetGlobalResourceObject("Resource", "SA_Cancel")</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <div id="dv_StudentListBox" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@HttpContext.GetGlobalResourceObject("Resource", "MS_StudentsList")</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @Html.Partial("_ClassSessionFilter", "ClassFilter,SessionFilter")

                        </div>
                        <table id="tblStudent_ManageStudent" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Sno")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Name")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Session(Class)")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Section")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Address")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolEdit")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolDelete")</th>
                               </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Sno")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Name")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Session(Class)")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Section")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Address")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolEdit")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolDelete")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="/ScriptFiles/ManageStudent.js"></script>
<script src="~/ScriptFiles/ClassSessionFilter.js"></script>

<script>
    $(function () {
        //---calander
        $(".isDatePicker").datepicker({ dateFormat: 'yy-mm-dd' });
        document.getElementById("ddlSelectClass_Filter").onchange = function () { GetFilterStudentList(); };
        document.getElementById("ddlSession_Filter").onchange = function () { GetDdlClassDataForFilter(GetFilterStudentList); };
        $("#tblStudent_ManageStudent").DataTable();
        //Initialize Select2 Elements
        $('.select2').select2();
        $("#ddlSelectClass_ManageStudent").select2({ placeholder: "No Class Created" });
        $("#ddlSession_ManageStudent").select2({ placeholder: "No Session have Section of selected Class" });
        $("#ddlSection_ManageStudent").select2({ placeholder: "No Section of selected Session" });
        $("#ddlSession_Filter").select2({ placeholder: "No session created" });
        $("#ddlSelectClass_Filter").select2({ placeholder: "No Class of this session" });
    });
</script>


