
@{
    ViewBag.Title = "Manage Staff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">*@
<link href="~/Content/Panel/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> @HttpContext.GetGlobalResourceObject("Resource", "ManageStaff")</h1>
            </div>
            <div class="col-sm-6" style="text-align:right;">
                <button id="btnAddNewStaff" type="button" class="btn btn-primary" onclick="AddNewStaff_ShowForm();"><i class="fa fa-plus" aria-hidden="true" style="margin-right:5px;"></i> @HttpContext.GetGlobalResourceObject("Resource", "MS_AddNewStaff")</button>
                @*<ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>*@
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div id="dv_AddUpdateStaffForm" class="row" style="display:none;">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 id="Title_StaffForm_ManageStaff" class="card-title">@*Add New Course*@</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> @HttpContext.GetGlobalResourceObject("Resource", "SA_FirstName")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control" id="txtFirstName_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_FirstName")">
                                        <span id="firstName_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_LastName")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control" id="txtLastName_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_LastName")">
                                        <span id="lastName_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Email")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control isEmailField AvoidSpace" id="txtEmail_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Email")">
                                        <span id="email_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Password")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control" id="txtPassword_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Password")">
                                        <span id="password_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Mobile") <span class="requiredFieldClass">*</span></label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">+91</span>
                                            </div>
                                            <input type="text" class="form-control IsNumeric" id="txtMobile_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Mobile")-Number" maxlength="10">
                                        </div>
                                        <span id="mobile_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SelectStaffType")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlStaffType_ManageStaff" class="form-control select2"></select>
                                        <span id="staffType_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_Gender")<span class="requiredFieldClass">*</span></label>
                                        <select id="ddlGender_ManageStaff" class="form-control select2">
                                            <option value="0">@HttpContext.GetGlobalResourceObject("Resource", "SA_Select")</option>
                                            <option value="M">@HttpContext.GetGlobalResourceObject("Resource", "MS_Male")</option>
                                            <option value="F">@HttpContext.GetGlobalResourceObject("Resource", "MS_Female")</option>
                                            <option value="O">@HttpContext.GetGlobalResourceObject("Resource", "MS_Other")</option>
                                        </select>
                                        <span id="gender_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_WorkExp")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control IsDecimal" id="txtWrokExperience_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "MS_WorkExp")">
                                        <span id="workExperience_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_Salary")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control IsDecimal" id="txtSalary_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "MS_Salary")">
                                        <span id="salary_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "MS_JD")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control isDatePicker" id="txtJoiningDate_ManageStaff" placeholder="Select @HttpContext.GetGlobalResourceObject("Resource", "MS_JD")" style="cursor:pointer;" readonly>
                                        <span id="joiningDate_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Address")<span class="requiredFieldClass">*</span></label>
                                        <textarea class="form-control" id="txtAddress_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Address")" rows="3"></textarea>
                                        <span id="address_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>@HttpContext.GetGlobalResourceObject("Resource", "SA_Pincode")<span class="requiredFieldClass">*</span></label>
                                        <input type="text" class="form-control" id="txtPincode_ManageStaff" placeholder="Enter @HttpContext.GetGlobalResourceObject("Resource", "SA_Pincode")">

                                        <span id="pincode_error_ManageStaff" class="errorsClass"></span>
                                    </div>
                                </div>
                                @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label>Select Branch <span class="requiredFieldClass">*</span></label>
                                            <select id="ddlBranch_ManageStaff" class="form-control"></select>
                                            <span id="branch_error_ManageStaff" class="errorsClass"></span>
                                        </div>
                                    </div>*@

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="chkIsActive_ManageStaff" checked>
                                        <label class="form-check-label" for="chkIsActive_ManageStaff" style="cursor:pointer;">@HttpContext.GetGlobalResourceObject("Resource", "SA_IsActive")</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button id="btnSubmitManageStaff" type="button" class="btn btn-primary" onclick="AddUpdateStaff(1);">@HttpContext.GetGlobalResourceObject("Resource", "SA_Submit")</button>
                            <button id="btnUpdateManageStaff" type="button" class="btn btn-primary" onclick="AddUpdateStaff(2);" style="display:none;">@HttpContext.GetGlobalResourceObject("Resource", "SA_Update")</button>
                            <button type="button" class="btn btn-default" onclick="CancelForm();">@HttpContext.GetGlobalResourceObject("Resource", "SA_Cancel")</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
        </div>
        <div id="dv_StaffListBox" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@HttpContext.GetGlobalResourceObject("Resource", "MS_StaffList")</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="tblStaff_ManageStaff" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Sno")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Name")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Type")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Gender")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Pincode")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Status")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolEdit")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolDelete")</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Sno")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Name")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Type")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Gender")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_Pincode")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "MS_Status")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolEdit")</th>
                                    <th>@HttpContext.GetGlobalResourceObject("Resource", "SA_SchoolDelete")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="/ScriptFiles/ManageStaff.js"></script>

<script>
    $(function () {
        $("#tblStaff_ManageStaff").DataTable();
        $(".isDatePicker").datepicker({ dateFormat: 'yy-mm-dd' });
        //Initialize Select2 Elements
        $('.select2').select2();

    });
</script>
<script>
    window.localizedLabels = {
        active: '@HttpContext.GetGlobalResourceObject("Resource", "MS_Active")',
        inactive: '@HttpContext.GetGlobalResourceObject("Resource", "MS_InActive")',
    };
</script>
